.DS_Store
*.DS_Store
*/.DS_Store
**/.DS_Store
**/*.mzML
**/*.mzXML
**/*.mzml
**/*.mzxml
**/*.json
*.mzML
*.mzXML
*.json
*.zip
**/*.d
*/*.d
*.d
**/*.zip
~$*
/~$*
**/.ipynb_checkpoints/**
*/.ipynb_checkpoints/*
**/.ipynb_checkpoints/
**/.ipynb_checkpoints
*.pyc
human_resources/
notes/
*/lcms_policies_and_procedures.md